@tailwind base;
@tailwind components;
@tailwind utilities;

.parent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-web {
  margin-top: auto;
}

.gundam-btn {
  border: 2px solid #000;
  border-radius: 3px;
}
.gundam-btn:hover {
  box-sahdow: 4px 4px #000;
}
